/*Start service header*/
body{
	margin:0;
	padding:0;
	font-family: 'Roboto','Sans-serif';
	background: #eff1f0;
}
.full-service{
	width: 1140px;
	margin: 0 auto;
	h2{
		text-align: center;
		margin: 40px;
	}
	.service-body{
		display: flex;
		.item{
			width: 25%;
			margin: 10px;
			box-shadow: 0px 10px -5px 0px gray;
			background: #fff;
			img{
				margin: 0;
				padding: 0;
				width: 100%;
				height: 220px;
			}
			h4,p{
				margin-left: 10px;
				width: 95%;
			}
			h4{
				font-size: 17px;
			}
			p{
				font-size: 15px;
				color: #6f6c6c;
			}
			.btn{
				border: none;
		    background: transparent;
		    font-size: 15px;
		    margin: 0px 0px 20px 12px;
		    color: #2ECC71;
		    font-family: 'Roboto','Sans-serif';
		    font-weight: bold;
		    padding: 10px 25px 10px 0px;
		    span{
		    	margin-right: 5px;
		    }
		    &:hover{
		    	cursor: pointer;
		    	background: #2ECC71;
		    	color: #fff;
		    	border-radius: 25px;
		    	transition: 0.9s;
		    	margin-left: 10px;
		    	padding: 10px 20px 10px 20px;
		    }
		    &:focus{
		    	outline: none;
		    }
			}
			&:hover{
				box-shadow: 0px 0px 7px 0px #9dd8bbd6;
				cursor: pointer;
				transition: 0.5s ease all;
			}
		}
	}
}